In [1]:
#importing depedencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#load the dataset into pandas
credit_data = pd.read_csv("///home/nzangi/Downloads/youtube-dl/ML projects/Datasets/creditcard.csv")

In [38]:
credit_data.head(2000)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1534.0,1.087084,0.122518,-1.379113,0.512637,0.626296,-1.197576,1.188196,-0.398294,-0.967212,...,0.394566,0.963427,-0.493709,0.344161,1.198228,0.974472,-0.144526,-0.027900,104.49,0
1996,1535.0,-2.904242,2.678819,-0.171884,-0.828241,-1.278581,-1.171742,-0.411796,1.320557,0.697133,...,-0.246725,-0.577884,0.143390,0.373467,0.149204,0.328026,0.550215,0.358425,1.00,0
1997,1540.0,-0.795991,1.027158,0.724286,-0.097386,-0.072522,-0.128722,0.001560,0.796263,-0.446384,...,-0.181583,-0.732671,0.061791,-0.425317,-0.273003,0.114032,0.115655,0.005307,10.98,0
1998,1542.0,1.194910,0.093867,-0.073016,1.008538,0.454666,0.809557,-0.069582,0.219049,0.146503,...,-0.126805,-0.180904,-0.220110,-1.134723,0.779307,-0.257532,0.032098,-0.005676,13.08,0
1999,1542.0,-0.090760,0.430191,0.587889,-1.468904,0.315714,-0.765142,0.737765,-0.348267,-1.877661,...,0.238175,0.619908,-0.381979,-0.387806,0.492030,-0.078039,0.023719,0.036965,25.00,0

In [37]:
credit_data.tail(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284797,172782.0,-0.241923,0.712247,0.399806,-0.463406,0.244531,-1.343668,0.929369,-0.206210,0.106234,...,-0.228876,-0.514376,0.279598,0.371441,-0.559238,0.113144,0.131507,0.081265,5.49,0
284798,172782.0,0.219529,0.881246,-0.635891,0.960928,-0.152971,-1.014307,0.427126,0.121340,-0.285670,...,0.099936,0.337120,0.251791,0.057688,-1.508368,0.144023,0.181205,0.215243,24.05,0
284799,172783.0,-1.775135,-0.004235,1.189786,0.331096,1.196063,5.519980,-1.518185,2.080825,1.159498,...,0.103302,0.654850,-0.348929,0.745323,0.704545,-0.127579,0.454379,0.130308,79.99,0
284800,172784.0,2.039560,-0.175233,-1.196825,0.234580,-0.008713,-0.726571,0.017050,-0.118228,0.435402,...,-0.268048,-0.717211,0.297930,-0.359769,-0.315610,0.201114,-0.080826,-0.075071,2.68,0
284801,172785.0,0.120316,0.931005,-0.546012,-0.745097,1.130314,-0.235973,0.812722,0.115093,-0.204064,...,-0.314205,-0.808520,0.050343,0.102800,-0.435870,0.124079,0.217940,0.068803,2.69,0
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [7]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
#checking the missing values
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [11]:
#check the distribtion of legit transaction and fraud
credit_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [12]:
#the data set is Highly Unbalanced
#0---> Normal transaction
#1---> fraud transaction
legit = credit_data[credit_data.Class == 0]
fraud = credit_data[credit_data.Class == 1]

In [13]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [14]:
#get statical measures of the data of legit data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [15]:
#get all the satistical data of the fraud trasmission
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [16]:
#compare the values of the both transimission
credit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [17]:
#Building a dataset which will contain the equal distribution both normal fraud transmission data
legit_sample = legit.sample(n=492)

In [18]:
#contacting the two data set
#axis = 0 means add values in rows
#axis = 1 means add values in coumns
new_dataset = pd.concat([legit_sample,fraud], axis=0)

In [19]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
200311,133385.0,1.648269,-0.572560,-1.785329,0.632309,-0.200531,-1.178467,0.325420,-0.283368,1.084491,...,-0.132656,-0.560361,0.034032,-0.133594,-0.166513,-0.103811,-0.042474,0.009832,197.84,0
27961,34785.0,1.191160,0.232726,0.581748,1.319200,-0.396551,-0.591569,0.092959,-0.154127,0.332630,...,-0.191754,-0.342522,-0.035605,0.408935,0.632597,-0.459627,0.035934,0.026422,13.85,0
2691,2229.0,-0.398550,2.445267,-2.323382,1.410081,0.518936,-1.787224,0.598556,0.141484,0.222765,...,-0.218415,-0.147198,0.148194,0.154825,-0.341655,-0.437058,0.387004,-0.046934,0.89,0
162748,115336.0,2.094921,0.700478,-3.322540,0.501463,1.570075,-1.082386,0.771124,-0.361567,-0.334367,...,-0.034631,0.113694,-0.113844,0.178603,0.452456,0.683141,-0.080490,-0.025225,0.76,0
86566,61290.0,-0.622000,1.062203,1.115490,0.691986,0.645845,0.290256,0.933490,-0.022295,-0.508887,...,-0.601555,-1.530354,-0.098907,-0.956764,0.301096,-0.599595,0.195318,-0.118697,46.00,0

In [20]:
new_dataset.shape

(984, 31)

In [21]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [22]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94724.837398,0.126111,-0.003686,-0.066053,0.008165,0.000935,-0.000976,-0.003539,-0.010886,0.028908,...,-0.031072,-0.026968,-0.011777,-0.015961,0.024249,0.001451,0.016654,0.007125,-0.009555,85.936280
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [23]:
X = new_dataset.drop(columns="Class", axis = 1)
Y = new_dataset["Class"]

In [24]:
print(X)
print(Y)

            Time        V1        V2        V3        V4        V5        V6  \
200311  133385.0  1.648269 -0.572560 -1.785329  0.632309 -0.200531 -1.178467
27961    34785.0  1.191160  0.232726  0.581748  1.319200 -0.396551 -0.591569
2691      2229.0 -0.398550  2.445267 -2.323382  1.410081  0.518936 -1.787224
162748  115336.0  2.094921  0.700478 -3.322540  0.501463  1.570075 -1.082386
86566    61290.0 -0.622000  1.062203  1.115490  0.691986  0.645845  0.290256
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
200311  0.325420 -0.283368  1.084491  ...  0.155641 -0.132656 -0.560361
27961   0.092959 -0.154127  0.332630  ... -0.101310 -0.191754 -0.342522
2691    0.598556  0.141484  0.222765  ...  0.532144 -0.218415 -0.147198
162748  0.771124 -0.361567 -0.334367  ... -0.049477 -0.034631  0.113694
86566   0.933490 -0.022295 -0.508887  ...  0.389717 -0.601555 -1.530354
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
200311  0.034032 -0.133594 -0.166513 -0.103811 -0.042474  0.009832  197.84
27961  -0.035605  0.408935  0.632597 -0.459627  0.035934  0.026422   13.85
2691    0.148194  0.154825 -0.341655 -0.437058  0.387004 -0.046934    0.89
162748 -0.113844  0.178603  0.452456  0.683141 -0.080490 -0.025225    0.76
86566  -0.098907 -0.956764  0.301096 -0.599595  0.195318 -0.118697   46.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]
200311    0
27961     0
2691      0
162748    0
86566     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [25]:
#split the data int train and the test data
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2, stratify = Y,random_state = 2)

In [27]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [28]:
#creating a model
model = LogisticRegression()

In [29]:
#training our model
model.fit(X_train,Y_train)

LogisticRegression()

In [30]:
#Evaluation of the model
#accuracy on the trainng data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [31]:
print(f"The training data accuracy is:{training_data_accuracy} ")

The training data accuracy is:0.9313850063532402

In [33]:
#accuracy on the test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [34]:
print(f"The test data accuracy is:{test_data_accuracy} ")

The test data accuracy is:0.868020304568528

In [36]:
#Build a predictive system
input_data = (9,-0.33826175242575,1.11959337641566,1.04436655157316,-0.222187276738296,0.49936080649727,-0.24676110061991,0.651583206489972,0.0695385865186387,-0.736727316364109,-0.366845639206541,1.01761446783262,0.836389570307029,1.00684351373408,-0.443522816876142,0.150219101422635,0.739452777052119,-0.540979921943059,0.47667726004282,0.451772964394125,0.203711454727929,-0.246913936910008,-0.633752642406113,-0.12079408408185,-0.385049925313426,-0.0697330460416923,0.0941988339514961,0.246219304619926,0.0830756493473326,3.68)

#change the input into numpy aarray
input_data_as_numpy = np.asarray(input_data)

#reshaping the data to predic only one instance
input_data_reshaped = input_data_as_numpy.reshape(1,-1)

prediction = model.predict(input_data_reshaped)

if prediction[0] == 0:
    print("The transmission of the card is normal Transmission")
else:
    print("The transmission of the card detected Fraud Transmission")

The transmission of the card is normal Transmission